---
layout: main
title: Blog Archive
permalink: /archives/
---
<div class="home-page-header">
        <div class="home-page-nav">
          <i class="fa fa-home"></i><a href="{{ "/" | prepend: site.github.url }}" class="tag">Home</a>
          <i class="fa fa-archive"></i><a href="{{ "/archives/" | prepend: site.github.url }}" class="tag">Archives</a>
          <i class="fa fa-th-list"></i><a href="{{ "/categories/" | prepend: site.github.url }}" class="tag">Categories</a>  
          <i class="fa fa-tags"></i><a href="{{ "/tags/" | prepend: site.github.url }}" class="tag">Tags</a>
          <i class="fa fa-heart"></i><a href="{{ "/about/" | prepend: site.github.url }}" class="tag">About</a>  
        </div>
      </div>
<section class="blog-tags">
    <!-- <h1>Blog Archive</h1> -->
    <br>
    <div class="well article">
        {%for post in site.posts %}
            {% unless post.next %}
                <h2>{{ post.date | date: '%Y' }}</h2>
                <ul>
            {% else %}
                {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
                {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
                {% if year != nyear %}
                    </ul>
                    <h2>{{ post.date | date: '%Y' }}</h2>
                    <ul>
                {% endif %}
            {% endunless %}
            <div class="tag-list">
                <span><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a><span>
                <small><span class="post-date">
                    {% assign date_format = site.date_format.archive %}
                    {{ post.date | date_to_string }} </span></small>
                
            </div>
        {% endfor %}
        </ul>
    </div>
</section>
<!-- <div class="tag-page-footer">
    <div class="tag-page-tohome">
        <a href="{{site.baseurl}}/" class="tag">To Home</a> 
    </div>
</div> -->